{% extends "home.html" %}
{% load static %}
{% block header %}
    <style>
        .overflow{
            text-align: center;
            overflow:hidden;
        }
        .overflow p a img{
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="abai">
        <p style="text-align: center" >{{ interface_words.line_1_404 }}</p>
        <p style="text-align: center" >{{ interface_words.line_2_404 }}</p>
        <p style="text-align: center" >{{ interface_words.line_3_404 }}</p>
        <div class="overflow">
            <p style="text-align: center" >
                <a href="https://www.donationalerts.com/r/arima2">
                    <img src="{% static 'image/arima.jpeg' %}" alt="arima" >
                </a>
            </p>
    </div>
{% endblock content %}