{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Abai</title>
</head>
<body>
    <div class="head">
        <a href="{% url 'woe' ln %}" class="animated-button">{{ interface_words.words_of_edification }}</a>
        <a href="https://tw0ur.github.io" class="animated-button">{{ interface_words.home }}</a>
        <a href="{% url 'ch' ln %}" class="animated-button">{{ interface_words.code_of_humanity }}</a>
        <div class="dropdown">
            <button class="btn" style="border-left:1px solid #0d8bf2">
                <i class="fa fa-caret-down">{{ ln.upper }}</i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'home' 'ru' %}">RU</a>
                <a href="{% url 'home' 'kz' %}">KZ</a>
            </div>
        </div>
        <div><h1>{{ interface_words.word_search }}</h1></div>
        <h1>{% block header %}{% endblock header %}</h1>
        <form method="post" action="../home/">
            {% csrf_token %}
            <input name="word_str" placeholder="{{ interface_words.word }}"/><br>
            <input type="submit" value="{{ interface_words.find }}" class="double-border-button">
        </form>
    </div>
    <div class="content">
        <div>{% block content%}{% endblock content %}</div>
    </div>
    <div class="footer">A.R.I.M.A^2. 2023. All rights reserved.</div>
</body>